<h1>Search for a panel</h1>
<hr>
<p>Enter a <b>R-number</b> value to search for a panel</p>
<p>Or use the buttons below to search for test data or all panels</p>
<hr>
<a href="/auth"> Login</a>
<a href="/database">Search database</a>
<hr>
<form method="POST" action="/search">
    <label for="search_input">Enter a R-number value: </label>
    <input type="text" id="search_input" name="r" required>
    <button type="submit">Search</button>
</form>


<script src="" async defer></script>
</body>

</html>