<!DOCTYPE html>
<html lang="en">

<style>
    * {
      font-family: sans-serif;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Welcome to PanelSearcher!</h1>
        <hr>
        <div class="box">
            <p>Enter an <b>R-code</b> to find the associated panel</p>
            <p>Or explore the patient-panel database using the button below</p>
        </div>
        <hr>
        <div class="box">
            <a href="/database">Go to patient-panel database</a>
        </div>
        <hr>
        <div class="box">
            <form method="POST" action="/search">
                <label for="search_input">Enter an R-code from the National Genomic Test Directory: </label>
                <input type="text" id="search_input" name="r" required>
                <p>Please note the search input must begin with 'R'</p>
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="container">
            <h2>Understanding R-Numbers and Gene Panels</h2>

            <p>The National Genomic Test Directory serves as a cataloge of the
                various genomic tests availble on the NHS (in England).</p>

            <p>Please find a link to the latest version of the National Genomic Test Directory:</p>
            <a href="https://www.england.nhs.uk/publication/national-genomic-test-directories/">NHS England</a>
            <p>Please note version 5.1 (June 2023) is being used in this software</p>

            <p>R-codes are unique identifiers assigned to individual genomic tests within
                the directory. These alphanumeric codes help streamline the search process, making it efficient for
                healthcare professionals and researchers to locate specific tests.</p>

            <p>Some R-codes are associated with an NGS test which require gene panels to specify the region of interest for sequencing. These
                regions of interest are defined within a BED file.
            </p>
            
            <p>PanelSearcher allows you to search for panel information using a R-code and create a BED file for the panel. </p>

        

            <hr>

            <p class="text-muted"> <i>For more information, visit the
                    <a href=https://panelapp.genomicsengland.co.uk>Panel App</a>,
                    or check out this projects Github availble at <a
                        href="https://github.com/Mathew-B-SDGS/Group1_2023_Bioinfo_Stp">STP projects</a> </i>
            </p>



        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>