<!DOCTYPE html>
<html lang="en">

<style>
    * {
      font-family: sans-serif;
    }
</style>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Samples</title>
</head>

<body>
    <h1>Link a Patient to R-number</h1>
    <hr>
    <h3>Select a Patient </h3>
    <p><i>If your patient is not yet in the database patient details can be added to the database below</i></p>
    <form method="post" action="{{ url_for('database.update_patient_panel') }}">
        <label for="patientDropdown">Select a patient:</label>
        <select id="patientDropdown" name="patient_selected">
            {% for patient in patients_list %}
            <option value="{{ patient[0] }}">{{ patient[0] }}</option>
            {% endfor %}
            <span id="nameError" class="error"></span><br>
        </select>
        <p>Enter your username to associate the patient entry with a user:</p>
        <label for="user">User:</label>
        <input type="text" id="user" name="user" required>
        <span id="userError" class="error"></span><br>


        <button type="submit">Submit</button>
    </form>

    <script>
        function validateForm() {
            var patient_selected = document.getElementById('patient_selected').value;
            var user = document.getElementById('user').value;

            var nameError = document.getElementById('nameError');
            var userError = document.getElementById('userError');

            // Reset error messages
            nameError.innerHTML = "";
            userError.innerHTML = "";

            // Check if name is empty
            if (patient_selected === "") {
                nameError.innerHTML = "Name is required";
                return false;
            }

            // Check if email is empty
            if (user === "") {
                userError.innerHTML = "Email is required";
                return false;
            }

            // You can add additional validation rules here if needed

            // If all validations pass, the form can be submitted
            return true;
        }
    </script>



    <hr>
    <h3>Add a patient to the database to</h3>
    <form method="POST" action="/database/panel">
        <label for="patient_name">Patient Name:</label>
        <input type="text" id="patient_name" name="patient_name" required>
        <br>

        <button type="submit">Create Patient</button>
    </form>
    <br>
    <p>Reload page to view added patients</p>
    <button><a href="/database/panel">Reload</a></button>

</body>

</html>

<!-- <label for="patients">Select Patient from Database:</label>
    <select name="Patient" id="Patient">
        <option value="Test">Test</option>
        {% for patient in patient_list %}
        <option value="{{patient[0]}}">{{patient[0]}}</option>
        {% endfor %}
    </select> -->