<!-- sample_list.html -->

<!DOCTYPE html>
<html lang="en">

<style>
    * {
      font-family: sans-serif;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample List</title>
</head>

<body>

    <h1>Patient-Panel Entries</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Database ID</th>
                <th>Patient Name</th>
                <th>Panel Entry</th>
                <th>Panel Details</th>
            </tr>
        </thead>
        <tbody>
            {% for p in patients %}
            <tr>
                <td>{{ p.patient_id }}</td>
                <td>{{ p.patient_name }}</td>
                <td>{{ p.which_testcase }}</td>
                <td><a href="/database/patients/{{ p.patient_id }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>