<!DOCTYPE html>
<html lang="en">

<style>
    * {
      font-family: sans-serif;
    }
</style>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Sample</title>
</head>

<body>
    <h1>Create a New Sample</h1>

    <!-- <form method="POST" action="{{ url_for('database.sample_create') }}"> -->
    <form method="POST" action="/database/patients/create">
        <label for="sample_name">Sample Name:</label>
        <input type="text" id="sample_name" name="sample_name" required>
        <br>

        <label for="sample_type">Sample Type:</label>
        <input type="text" id="sample_type" name="sample_type" required>
        <br>

        <button type="submit">Create Sample</button>
    </form>
</body>

</html>